!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
    div#container!= body
    div#footer
        div Made by Risto Novik 2012
        div
          - if (user)
            a(href="/logout") Logout #{user.user}
            a(href="/post/add") Add post
          - else 
            a(href="/login") Login