h2 Login user

form(name="login-form",method="post",action="/login")
  div.row
    label Username:
    input(type="text",name="username")
  div.row
    label Password:
    input(type="password",name="password")
  div.row
    input(type="submit",name="login",value="Login")