form(class="form-horizontal",name="login-form",method="post",action="/login")
  fieldset
    legend Login user

    div.control-group
      label.control-label Username:
      div.controls
        input(type="text",name="username",class="input-xlarge")

    div.control-group
      label.control-label Password:
      div.controls
        input(type="password",name="password",class="input-xlarge")

    div.form-actions
      input(type="submit",value="Login",name="login",class="btn btn-primary")