body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	font-size: 3em;
	font-weight: bolder;
	margin-bottom: 0.7em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.7em;
}